<!DOCTYPE html>
<html>

<head>
  <title>TODO List</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col d-col w-100">
        <div>
          <% if (typeof taskEditar == "undefined") { %>
          <form action="/tasks/" method="POST">
            <input type="text" class="form-control" name="title">
            <button class="btn btn-primary" type="submit">Crear y guardar</button>
          </form>
          <% }else { %>
          <form action="/tasks/<%= taskEditar.id %>?_method=PATCH" method="POST">
            <input type="text" class="form-control" name="title" value="<%= taskEditar.task %>">
            <button class="btn btn-primary" type="submit">Guardar cambios</button>
          </form>
          <% } %>
        </div>
        <!-- Validacion opcional -->

        <% if ( typeof errors != "undefined") { %>
        <div class="alert">
          <p class="invalid-text"><%= errors[0].msg %></p>
        </div>
        <% } %>
        <!-- Validacion opcional -->

      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="list-group">
          <!-- Task -->
          <% tasks.forEach(task => { %>
          <div class="list-group-item">
            <a href="/tasks/<%= task.id %>">
              <%= task.task %>
            </a>

            <form action="/tasks/<%= task.id %>?_method=DELETE" method="POST">
              <button class="btn item-delete" type="submit">✖️</button>
            </form>
          </div>
          <% }) %>
          <!-- Task -->
        </div>
      </div>
    </div>
  </div>
</body>

</html>